body {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

#canvas {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;

    text-anchor: middle;
    dominant-baseline: middle;
    font-family: sans-serif;
}

.directory > path {
    stroke: #bbb;
    stroke-width: 1;
    fill-opacity: 0; /* directories are transparent */
}

.directory .label-background {
    stroke: var(--vscode-editor-background);
    stroke-width: 6;
}

.directory .label {
    fill: var(--vscode-editor-foreground);
}

.directory.contents-hidden path.circle {
    fill: white;
    fill-opacity: 1.0;
}

.directory.labels-hidden .label, .directory.labels-hidden .label-background, .file.labels-hidden .label {
    visibility: hidden; /* Use visibility so that we can still get the rendered size in JS */
}

